@charset "utf-8";
.html{
    font-size: 62.5%;
}
body{
    margin: 0;
    background-color: #eaedf2;
    color: #252525;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}
*,*::before,*::after{
    box-sizing: border-box;
}
.border-radius{
    border-radius: 50%;
}
.profile-image{
    width: 250px;
    height: 300px;
}
